{{/* Renders a grouped list of research papers with collapsible details. */}}
{{- $pages := . -}}

{{- $types := slice -}}
{{- range $pages -}}
  {{- if not (in $types .Params.publication_type) -}}
    {{- $types = $types | append .Params.publication_type -}}
  {{- end -}}
{{- end -}}
{{- $types = sort $types | collections.Reverse -}}

{{ range $type := $types }}
<section class="publist">
  <h2>{{ if eq $type "Publications" }}Publications{{ else }}Work in Progress{{ end }}</h2>
  <ul>
    {{- $papers := where $pages "Params.publication_type" $type -}}
    {{- $papers = sort $papers "Params.year" "desc" -}}
    {{ range $papers }}
    {{- $id := .File.ContentBaseName -}}
    <li>
      <h3 class="noline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <div>
        {{ if eq $type "Publications" }}
          {{ $year := .Params.year }}
          {{ with .Params.journal }}<p><em>{{ . }}{{ with $year }}, {{ . }}{{ end }}</em></p>{{ end }}
        {{ else }}
          {{ with .Params.status }}<p><em>{{ . }}</em></p>{{ end }}
        {{ end }}

        {{- with .Params.coauthors -}}
          {{- $total := len . -}}
          {{- if gt $total 3 -}}
            <p>with&nbsp;
            {{- range $i, $ca := first 3 . -}}
              {{- if eq $i 1 -}},&nbsp;{{ end -}}
              {{- if eq $i 2 -}},&nbsp;and&nbsp;{{ end -}}
              {{- if $ca.site -}}<a class="noline" href="{{ $ca.site }}" target="_blank">{{ end -}}
              {{- $ca.name -}}
              {{- if $ca.site -}}</a>{{ end -}}
            {{- end -}}
            &nbsp;<a class="collapsed noline" data-toggle="collapse" href="#etal{{ $id }}" role="button" aria-expanded="false" aria-controls="etal{{ $id }}">et al.</a></p>
          {{- else -}}
            <p>with&nbsp;
            {{- range $i, $ca := . -}}
              {{- if and (gt $i 0) (lt $i (sub $total 1)) -}},&nbsp;{{ end -}}
              {{- if and (eq $i (sub $total 1)) (gt $total 1) -}}
                {{- if gt $i 1 -}},{{ end -}}&nbsp;and&nbsp;
              {{- end -}}
              {{- if $ca.site -}}<a class="noline" href="{{ $ca.site }}" target="_blank">{{ end -}}
              {{- $ca.name -}}
              {{- if $ca.site -}}</a>{{ end -}}
            {{- end -}}</p>
          {{- end -}}
        {{- end }}

        <ul class="paperlinks">
            {{ with .Params.abstract }}
            <li>
              <a class="collapsed noline" data-toggle="collapse" href="#abstract{{ $id }}" role="button" aria-expanded="false" aria-controls="abstract{{ $id }}">Abstract</a>
            </li>
            {{ end }}
            {{ with .Params.doi }}
            <li>
              <a class="noline" href="https://doi.org/{{ . }}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;{{ if eq $type "Publications" }}Published Paper{{ else }}Working Paper{{ end }}</a>
            </li>
            {{ end }}
            {{ with .Params.wp }}
            <li>
              <a class="noline" href="{{ . }}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;Working Paper</a>
            </li>
            {{ end }}
            {{ with .Params.ungated }}
            <li>
              <a class="noline" href="{{ . }}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;Ungated</a>
            </li>
            {{ end }}
            {{ with .Params.pdf }}
            <li>
              <a class="noline" href="/assets/papers/{{ . }}" target="_blank"><i class="fas fa-file-pdf"></i>&nbsp;PDF{{ with $.Params.updated }} ({{ . }}){{ end }}</a>
            </li>
            {{ end }}
            {{ with .Params.appendix }}
            <li>
              <a class="noline" href="/assets/papers/{{ . }}" target="_blank"><i class="fas fa-file-pdf"></i>&nbsp;Appendix</a>
            </li>
            {{ end }}
            {{ with .Params.coverage }}
            <li>
              <a class="collapsed noline" data-toggle="collapse" href="#coverage{{ $id }}" role="button" aria-expanded="false" aria-controls="coverage{{ $id }}">Media Coverage</a>
            </li>
            {{ end }}
            {{ with .Params.projects }}
            <li>
              {{ range $i, $p := . }}{{ if $i }}, {{ end }}<a class="noline" href="/projects/{{ $p | urlize }}/"><i class="fas fa-pencil-alt"></i>&nbsp;{{ $p }}</a>{{ end }}
            </li>
            {{ end }}
        </ul>

        {{/* Full coauthor list (collapsed) */}}
        {{ with .Params.coauthors }}{{ if gt (len .) 3 }}
        <div class="collapse" id="etal{{ $id }}">
          <div class="card card-body">
            <p>with&nbsp;
            {{- $total := len . -}}
            {{- range $i, $ca := . -}}
              {{- if and (gt $i 0) (lt $i (sub $total 1)) -}},&nbsp;{{ end -}}
              {{- if and (eq $i (sub $total 1)) (gt $total 1) -}}
                {{- if gt $i 1 -}},{{ end -}}&nbsp;and&nbsp;
              {{- end -}}
              {{- if $ca.site -}}<a class="noline" href="{{ $ca.site }}" target="_blank">{{ end -}}
              {{- $ca.name -}}
              {{- if $ca.site -}}</a>{{ end -}}
            {{- end -}}</p>
          </div>
        </div>
        {{ end }}{{ end }}

        {{ with .Params.abstract }}
        <div class="collapse" id="abstract{{ $id }}">
          <div class="card card-body">
            <p>{{ . | safeHTML }}</p>
          </div>
        </div>
        {{ end }}

        {{ with .Params.coverage }}
        <div class="collapse" id="coverage{{ $id }}">
          <div class="card card-body">
            <p>
              {{ range $i, $media := . }}
                {{- if $i }}, {{ end -}}
                <a class="noline colorhover" href="{{ $media.url }}" target="_blank">{{ $media.outlet }}</a>
              {{- end }}
            </p>
          </div>
        </div>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
