{{/* Renders a grouped list of research papers with collapsible details. */}}
{{- $pages := . -}}

{{- $types := slice -}}
{{- range $pages -}}
  {{- if not (in $types .Params.publication_type) -}}
    {{- $types = $types | append .Params.publication_type -}}
  {{- end -}}
{{- end -}}
{{- $types = sort $types | collections.Reverse -}}

{{ range $type := $types }}
<section class="publist">
  <h2>{{ if eq $type "Publications" }}Publications{{ else }}Work in Progress{{ end }}</h2>
  <ul>
    {{- $papers := where $pages "Params.publication_type" $type -}}
    {{- $papers = $papers.ByDate.Reverse -}}
    {{ range $papers }}
    {{- $id := .File.ContentBaseName -}}
    {{- $bib := index site.Data.publications $id -}}
    <li>
      <h3 class="noline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <div>
        {{ if eq $type "Publications" }}
          {{ with $bib }}
            {{ $year := substr .date 0 4 }}
            {{ with .journal }}<p><em>{{ . }}{{ with $year }}, {{ . }}{{ end }}</em></p>{{ end }}
          {{ end }}
        {{ else }}
          {{ with .Params.status }}<p><em>{{ . }}</em></p>{{ end }}
        {{ end }}

        {{- with .Params.authors -}}
          {{/* Filter out site author (once) */}}
          {{- $me := site.Params.author.name -}}
          {{- $coauthors := slice -}}
          {{- range . -}}
            {{- if ne .name $me -}}
              {{- $coauthors = $coauthors | append . -}}
            {{- end -}}
          {{- end -}}
          {{- $total := len $coauthors -}}
          {{- if gt $total 0 -}}
          {{- if gt $total 3 -}}
            <p>with&nbsp;
            {{- range $i, $ca := first 3 $coauthors -}}
              {{- if gt $i 0 -}},&nbsp;{{ end -}}
              {{- if $ca.site -}}<a class="noline" href="{{ $ca.site }}" target="_blank">{{ end -}}
              {{- $ca.name -}}
              {{- if $ca.site -}}</a>{{ end -}}
            {{- end -}}
            &nbsp;<a class="collapsed noline" data-toggle="collapse" href="#etal{{ $id }}" role="button" aria-expanded="false" aria-controls="etal{{ $id }}">et al.</a></p>
        <div class="collapse" id="etal{{ $id }}">
          <div class="card card-body">
            <p>with&nbsp;{{- partial "author-list.html" (dict "authors" $coauthors "linkClass" "noline") -}}</p>
          </div>
        </div>
          {{- else -}}
            <p>with&nbsp;{{- partial "author-list.html" (dict "authors" $coauthors "linkClass" "noline") -}}</p>
          {{- end -}}
          {{- end -}}
        {{- end }}

        <ul class="paperlinks">
            {{ with .Params.abstract }}
            <li>
              <a class="collapsed noline" data-toggle="collapse" href="#abstract{{ $id }}" role="button" aria-expanded="false" aria-controls="abstract{{ $id }}">Abstract</a>
            </li>
            {{ end }}
            {{ with $bib }}{{ with .doi }}
            <li>
              <a class="noline" href="https://doi.org/{{ . }}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;{{ if eq $type "Publications" }}Published Paper{{ else }}DOI{{ end }}</a>
            </li>
            {{ end }}{{ end }}
            {{ with .Params.wp }}
            <li>
              <a class="noline" href="{{ . }}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;Working Paper</a>
            </li>
            {{ end }}
            {{ with .Params.ungated }}
            <li>
              <a class="noline" href="{{ . }}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;Ungated</a>
            </li>
            {{ end }}
            {{ with .Params.pdf }}
            <li>
              <a class="noline" href="/assets/papers/{{ . }}" target="_blank"><i class="fas fa-file-pdf"></i>&nbsp;PDF{{ with $.Params.updated }} ({{ . }}){{ end }}</a>
            </li>
            {{ end }}
            {{ with .Params.appendix }}
            <li>
              <a class="noline" href="/assets/papers/{{ . }}" target="_blank"><i class="fas fa-file-pdf"></i>&nbsp;Appendix</a>
            </li>
            {{ end }}
        </ul>

        {{ with .Params.abstract }}
        <div class="collapse" id="abstract{{ $id }}">
          <div class="card card-body">
            <p>{{ . | safeHTML }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
