<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title == "Adam Altmejd" %}{{ page.title }}{% else %}{{ page.title }} &middot; Adam Altmejd{% endif %}
    </title>
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>

<!-- Add some IE-debug -->
<!-- Add favicons etc here -->
