<nav role="navigation">
  <a href="/"><img src="/assets/img/Adam_Altmejd.jpg" itemprop="image" property="depiction" alt="Picture of Adam Altmejd"/></a>
  <div>
    <ul>
      <li>
        <a href="mailto:{{ site.author.email }}" itemprop="email"><i class="fas fa-envelope"></i>&nbsp;{{ site.author.email }}</a>
      </li>
      <li>
        <a href="tel:{{ site.author.phone }}" itemprop="telephone"><i class="fas fa-phone"></i>&nbsp;{{ site.author.phone }}</a>
      </li>
      <hr>
      <li{% if page.slug=="cv"%} class="active"{% endif %}>
        <a href="{{ "/cv/" | prepend: site.baseurl }}">
          <i class="fas fa-file-alt"></i>&nbsp;&nbsp;Curriculum&nbsp;&nbsp;Vitae
        </a>
      </li>
      <li{% if page.slug=="projects" or page.id contains "projects" %} class="active"{% endif %}>
        <a href="{{ "/projects/" | prepend: site.baseurl }}">
          <i class="fas fa-pencil-alt"></i>&nbsp;Research&nbsp;Projects
        </a>
      </li>
    </ul>
  </div>
</nav>
