{%- if page.project -%}
{%- assign typelist = site.data.research | where:"project",page.project | map:"type" | uniq -%}
{%- else -%}
{%- assign typelist = site.data.research | map:"type" | uniq | sort | reverse -%}
{%- endif -%}
{%- for type in typelist -%}
<section class="publist">
  <h2>{{ type }}</h2>
  <ul>
    {%- assign sorted = site.data.research | where:"type",type | sort: 'year' | reverse -%}
    {%- if page.project -%}
    {%- assign sorted = sorted | where:"project",page.project -%}
    {%- endif -%}
    {% for paper in sorted %}
    <li>
      <h3 class="noline">{{ paper.title }}</h3>
      <div>
        {% if type=="Publications" %}
          {% if paper.journal %}<p><i>{{ paper.journal }}{{ paper.year | prepend: ', ' }}</i></p>{% endif %}
        {% else %}
          {% if paper.status %}<p><i>{{ paper.status }}</i></p>{% endif %}
        {% endif %}
        {%- for coauthor in paper.coauthors limit:3 -%}
          {%- if forloop.first == true -%}<p>with&nbsp;
            {%- elsif paper.coauthors.size > 3 -%}{%- break -%}
            {%- elsif forloop.length > 1 -%}{%- if forloop.last == true -%}{%- if forloop.index > 2 -%},{%- endif -%}&nbsp;and&nbsp;{%- else -%},&nbsp;{%- endif -%}
          {%- endif -%}
          {%- if coauthor.site -%}<a class="noline" href="{{ coauthor.site }}" target="_blank">{%- endif -%}{{ coauthor.name }}{%- if coauthor.site -%}</a>{%- endif -%}
          {%- if forloop.last == true -%}</p>{%- endif -%}
        {%- endfor -%}
        {%- if paper.coauthors.size > 3 -%}&nbsp;<a class="collapsed noline" data-toggle="collapse" href="#{{ paper.id | prepend: 'etal' }}" role="button" aria-expanded="false" aria-controls="{{ paper.id | prepend: 'etal' }}">et al.</a></p>{%- endif -%}

        <p>
          <ul class="paperlinks">
            {% if paper.abstract %}
            <li>
              <a class="collapsed noline" data-toggle="collapse" href="#{{ paper.id | prepend: 'abstract' }}" role="button" aria-expanded="false" aria-controls="{{ paper.id | prepend: 'abstract' }}">Abstract</a>
            </li>
            {% endif %}
            {% if paper.doi %}
            <li>
              <a class="noline" href="{{ paper.doi | prepend: 'https://doi.org/' }}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;{% if type=="Publications" %}Published Paper{% elsif type=="Work in Progress" %}Working Paper{% endif %}</a>
            </li>
            {% endif %}
            {% if paper.preprint %}
            <li>
              <a class="noline" href="{{ paper.preprint }}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;Preprint</a>
            </li>
            {% endif %}
            {% if paper.pdf %}
            <li>
              <a class="noline" href="{{ paper.pdf | prepend: '/assets/papers/' }}" target="_blank"><i class="fas fa-file-pdf"></i>&nbsp;Latest Version{{ paper.updated | prepend: ' (' | append: ')' }}</a>
            </li>
            {% endif %}
            {% if paper.wp %}
            <li>
              <a class="noline" href="{{ paper.wp }}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;Working Paper</a>
            </li>
            {% endif %}
            {% if paper.ungated %}
            <li>
              <a class="noline" href="{{ paper.ungated }}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;Ungated</a>
            </li>
            {% endif %}
            {% if paper.appendix %}
            <li>
              <a class="noline" href="{{ paper.appendix | prepend: '/assets/papers/' }}" target="_blank"><i class="fas fa-file-pdf"></i>&nbsp;Appendix</a>
            </li>
            {% endif %}
            {% if paper.coverage %}
            <li>
              <a class="collapsed noline" data-toggle="collapse" href="#{{ paper.id | prepend: 'coverage' }}" role="button" aria-expanded="false" aria-controls="{{ paper.id | prepend: 'coverage' }}">Media Coverage</a>
            </li>
            {% endif %}
            {% unless page.project %}
              {% if paper.project %}
              <li>
                <a class="noline" href="{{ paper.project | slugify | prepend: '/projects/' | prepend: site.baseurl }}"><i class="fas fa-pencil-alt"></i>&nbsp;{{ paper.project }}</a>
              </li>
              {% endif %}
            {% endunless %}
          </ul>
        </p>
        {% if paper.coauthors.size > 3 %}
        <div class="collapse" id="{{ paper.id | prepend: 'etal' }}">
          <div class="card card-body">
            {%- for coauthor in paper.coauthors -%}
              {%- if forloop.first == true -%}<p>with&nbsp;
                {%- elsif forloop.length > 1 -%}{%- if forloop.last == true -%}{%- if forloop.index > 2 -%},{%- endif -%}&nbsp;and&nbsp;{%- else -%},&nbsp;{%- endif -%}
              {%- endif -%}
              {%- if coauthor.site -%}<a class="noline" href="{{ coauthor.site }}" target="_blank">{%- endif -%}{{ coauthor.name }}{%- if coauthor.site -%}</a>{%- endif -%}
              {%- if forloop.last == true -%}</p>{%- endif -%}
            {%- endfor -%}
          </div>
        </div>
        {% endif %}
        {% if paper.abstract %}
        <div class="collapse" id="{{ paper.id | prepend: 'abstract' }}">
          <div class="card card-body">
            <p>{{ paper.abstract }}</p>
          </div>
        </div>
        {% endif %}
        {% if paper.coverage %}
        <div class="collapse" id="{{ paper.id | prepend: 'coverage' }}">
          <div class="card card-body">
            <p>
              {% for media in paper.coverage %}
                <a class="noline colorhover" href="{{ media.url }}" target="_blank">{{ media.outlet }}</a>
                {%- unless forloop.last == true -%},{%- endunless -%}
              {% endfor %}
            </p>
          </div>
        </div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
