// ===========================
// MAIN LAYOUT/SCAFFOLDING

div.site_container {
  @include make-container();
  max-width: 800px;
}

main {
  @include make-row();

  justify-content: center;

  @include media-breakpoint-up(sm) {
    flex-direction: row; // put nav in sidebar
  }
  @include media-breakpoint-only(xs) {
    flex-direction: column-reverse; // on phones order nav before content
  }

  > article {
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
  }

  > aside {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 220px;
  }
}

// ===========================
// HEADERS

.dropdown-menu.collapsing {
    display:block;
}

div.site_header {
  @include make-row();

  > header {
    @include make-col-ready();
    @include make-col(12);

    @extend .pt-sm-4; // padding top 5 (responsive spacing)
    @extend .pb-sm-4; // padding top 5 (responsive spacing)

    > div { // put the burger in the header
      // @extend .navbar-light;
      // @extend .navbar-expand-sm;
      text-align: center;

      a.navbar-brand {
        font-size: $h1-font-size;
        font-family: $font-family-sans-serif;
        color: $body-color;
        // @include media-breakpoint-only(xs) {
        //   font-size: $h4-font-size;
        // }
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 0;
      }
      a.navbar-brand:hover { color: $body-color; }
    }
    hr {
      max-width: 200px;
      @include media-breakpoint-only(xs) { max-width: 100px; }
      margin: 0 auto 1rem;
      border-top: solid 0.25rem $body-color;
    }
    // button {
    //   position: absolute;
    //   top: 0.6rem;
    //   right: 0.3rem;
    //   padding: 0.1rem 0.3rem;
    // }
  }
}

//=========================
// NAV
nav[role="navigation"] {
  @extend .navbar;
  @extend .navbar-light;
  @extend .navbar-expand-sm;
  @extend .flex-column;

  > div {
    // @extend .collapse;
    // @extend .navbar-collapse;

    > ul {
      @extend .navbar-nav;
      @extend .flex-column;
      @extend .mb-3;

      > li {
        @extend .nav-item;
        > a {
          @extend .nav-link;
          font-family: $font-family-sans-serif;
          font-weight: $font-weight-light;
        }
      }

      hr {
        width: 100%;
        margin: 0.5rem 0;
        border-width: 2px;
      }
    }
  }

  a {
    // @include media-breakpoint-only(xs) {
    //   order: 13;
    // }

    img {
      border-radius: 2rem !important;
      max-width: 200px;
      @extend .img-fluid;
      @extend .rounded;
    }
  }
}

// ===========================
// FOOTER

footer {
  @extend .pt-4;
  @include make-row();

  > div {
    @include make-col-ready();
    @extend .mx-auto;
    @extend .d-flex;
    @extend .flex-column;
    text-align: center;

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }

    > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      @extend .mx-auto;
      @extend .pb-2;

      > li {
        float: left;
        @extend .px-1;
      }
    }
  }
}

//=========================
// Styling

article {
  text-align: justify;
  text-justify: auto;

  h1, h2 {
    display: inline-block;
    @extend .mb-2;
  }

  a { // h1 , h1
    background-image: linear-gradient(to right, $body-color, $body-color);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
  }
  a:hover {
    color: $body-color;
  }

  p {
    @extend .mb-3;
  }
}

.noline {
  background: none !important;
}
.colorhover:hover {
  color: $link-hover-color !important;
}

// Publist: list of publications/working papers
section.publist {
  text-align: left;

  ul, p, h3 {
    @extend .m-0;
    @extend .p-0;
  }
  p, a {
    font-size: $font-size-sm;
  }

  h2 { font-size: $h3-font-size; }
  h3 {
    // font-family: $font-family-base;
    font-size: $h6-font-size;
    font-weight: 600;
  }

  ul { list-style-type: none; }
  ul li { @extend .mb-3; }

  ul.paperlinks {
    li {
      display: inline;
      @extend .pr-2;
    }
  }

  [data-toggle="collapse"]:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0d7";
    transform: rotate(0deg);
    transition: all linear 0.25s;
    margin-right: 0.2rem;
  }
  [data-toggle="collapse"].collapsed:before {
    transform: rotate(-90deg);
  }
}