body {
    padding-top: 50px;
}

// Navs =======================================================================

.nav {
    .open > a,
    .open > a:hover,
    .open > a:focus {
        border-color: transparent;
    }
}

.pagination {
    a,
    a:hover {
        color: #fff;
    }
    .disabled {
        & > a,
        & > a:hover,
        & > a:focus,
        & > span {
            background-color: $brand-success;
        }
    }
}

.pager {
    a,
    a:hover {
        color: #fff;
    }
    .disabled {
        & > a,
        & > a:hover,
        & > a:focus,
        & > span {
            background-color: $brand-success;
        }
    }
}

// Footer =======================================================================
footer {
    padding: 50px 0 50px;
    .list-inline {
        margin: 0;
        padding: 0 0 10px;
    }
    .copyright {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
    }
}
