<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
{{ partial "head.html" . }}

<body>
  <a class="sr-only" href="#content">Skip to main content</a>
  <div class="site_container">
    <div class="site_header">
      <header>
        <div itemscope itemtype="https://schema.org/Person">
          <a class="navbar-brand" href="/">
            {{- with .Site.Params.author.givenName -}}
              <span itemprop="givenName">{{ . }}</span>
            {{- end -}}
            {{- with .Site.Params.author.familyName -}}
              {{ " " }}<span itemprop="familyName">{{ . }}</span>
            {{- end -}}
          </a>
        </div>
        <hr>
      </header>
    </div>

    <main>
      <article id="content">{{ block "main" . }}{{ end }}</article>
      <aside>{{ partial "nav.html" . }}</aside>
    </main>

    <footer>
      <div>{{ partial "footer.html" . }}</div>
    </footer>
  </div>

  {{ partial "scripts.html" . }}
</body>

</html>
