---
layout: default
---
<section>
    <p class="meta">{{ page.date | date: "%B %-d, %Y" }}&nbsp;<i class="fa fa-clock-o"></i></p>
    {{ content }}
</section>
<nav role="pager">
    <ul>
        {% if page.previous %}
        <li class="previous">
            <a href="{{page.previous.url}}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}"
                rel="prev">
                {% else %}
        <li class="previous disabled"><a href="#">
                {% endif %}
                &larr; Previous</a></li>

        {% if page.next %}
        <li class="next"><a href="{{page.next.url}}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}"
                rel="next">
                {% else %}
        <li class="next disabled"><a href="#">
                {% endif %}
                Next &rarr;</a></li>
    </ul>
</nav>